@import url('./fonts/fonts.css');

:root {
  --polar-night-0: #2e3440;
  --polar-night-1: #3b4252;
  --polar-night-2: #434c5e;
  --polar-night-3: #4c566a;
  --polar-night-3-50percent: #6b7994;
  --polar-night-3-70percent: #a6aebf;
  --snow-storm-4: #d8dee9;
  --snow-storm-5: #e5e9f0;
  --snow-storm-6: #eceff4;
  --frost-7-green: #8fbcbb;
  --frost-8-bright: #88c0d0;
  --frost-9-light: #81a1c1;
  --frost-10-dark: #5e81ac;
  --frost-10-dark-45percent: #4e6f97;
  --frost-10-dark-35percent: #3d5676;
  --aurora-11-red: #bf616a;
  --aurora-12-orange: #d08770;
  --aurora-13-yellow: #ebcb8b;
  --aurora-14-green: #a3be8c;
  --aurora-15-purple: #b48ead;

  --accent-color: var(--frost-10-dark);
  --color: var(--polar-night-0);
  --color-mode: 'light';
  --background-color: var(--snow-storm-4);
  --box-background-color: var(--snow-storm-6);
  --slider-handle: var(--frost-10-dark);
  --title-color: var(--frost-10-dark);

  --button-color: #ffffff;
  --button-hover-color: var(--snow-storm-6);
  --button-background-color: var(--frost-10-dark);
  --button-hover-background-color: var(--frost-10-dark-45percent);
  --button-focus-border-color: var(--frost-10-dark-35percent);
}

[color-mode='dark'] {
  --accent-color: var(--frost-9-light);
  --background-color: var(--polar-night-1);
  --box-background-color: var(--polar-night-3);
  --color: var(--snow-storm-6);
  --slider-handle: var(--frost-9-light);
  --title-color: var(--frost-9-light);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

body {
  padding: 2em;
  color: var(--color);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--aurora-14-green);
}

p {
  color: var(--color);
  font-size: 1.5em;
}

.box {
  border-radius: 5px;
  background-color: var(--box-background-color);
  padding: 1em;
}

.container {
  display: grid;
  place-content: center;
}

.title {
  color: var(--title-color);
  font-size: 2em;
  text-align: center;
}

/*
  button styles begin
  https://moderncss.dev/css-button-styling-guide/
*/

button {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-radius: 0.25em;
  border: none;
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

button:hover,
button:active {
  background-color: var(--button-hover-background-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

button:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px var(--button-focus-border-color);
}

button[disabled] {
  cursor: not-allowed;
}
/* button styles end */

/* custom checkbox begin
// Learn about this technique:
// @link https://moderncss.dev/pure-css-custom-checkbox-style/
*/

:root {
  --form-control-color: var(--aurora-14-green);
  --form-control-disabled: #959495;
}

body {
  margin: 0;
}

form {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.form-control {
  font-size: 1.5rem;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  place-self: center;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.form-control:hover,
.form-control input {
  cursor: pointer;
}

input[type='checkbox'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

input[type='checkbox']:focus {
  outline: max(2px, 0.15em) solid var(--accent-color);
  outline-offset: max(2px, 0.15em);
}

input[type='checkbox']:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}
/* custom checkbox end */
