.box {
  min-width: 10%;
  display: grid;
  grid: auto / auto;
  gap: 1em;
  place-content: center;
  padding: 50px;
}

.container {
  min-height: 20em;
}

.subtitle {
  text-align: center;
}

.history-entry {
  display: grid;
  grid: 1fr / 0.5fr 1fr 4fr;
  gap: 1em 0.5em;
  place-items: center;
}

.text-center {
  text-align: center;
}

.img-center {
  display: grid;
  place-content: center;
}

.margin-top-n10 {
  margin-top: -10px;
}

.margin-top-n20 {
  margin-top: -20px;
}
