.box {
  min-width: 10%;
  display: grid;
  grid: auto / auto;
  gap: 1em;
  place-content: center;
  padding: 50px;
}

.container {
  min-height: 20em;
}

.subtitle {
  text-align: center;
}

.option {
  display: grid;
  place-content: center;
  grid: auto / auto auto;
  gap: 2em;
}

.text-center {
  text-align: center;
}

.img-center {
  display: grid;
  place-content: center;
}

.margin-top-n10 {
  margin-top: -10px;
}

.margin-top-n20 {
  margin-top: -20px;
}
