*,
*:before,
*:after {
  box-sizing: border-box;
}

/* circle button begin */
:root {
  --button-circle-size: 1.5em;
  --button-circle-color: var(--snow-storm-6);
  --button-circle-background-color: var(--frost-10-dark);
  --light-hours-color: var(--color);
  --toggle-background-color: var(--polar-night-3-50percent);
}

[color-mode='dark'] {
  --light-hours-color: var(--polar-night-0);
  --toggle-background-color: var(--polar-night-3-70percent);
}

.button-circle {
  text-decoration: none;
  border-radius: 1000px;
  height: var(--button-circle-size);
  width: var(--button-circle-size);
  margin: 0.25em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: var(--button-circle-background-color);
  font-size: 1.5em;
  font-family: 'Office Code Pro', Monaco, Consolas, monospace;
  transition: 220ms all ease-in-out;
}

.button-circle:hover,
.button-circle:active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
  background-color: var(--button-hover-background-color);
  cursor: pointer;
}
.button-circle:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px var(--button-focus-border-color);
}
/* circle button end */

.text {
  font-size: 20px;
  text-align: center;
}

.margin-n5 {
  margin: -5px;
}
.margin-n10 {
  margin: -10px;
}
.margin-n20 {
  margin: -20px;
}

.time-display {
  font-size: 10px;
}

.light-hours {
  color: var(--light-hours-color);
  background-color: var(--aurora-13-yellow);
  padding: 5px;
  border-radius: 8px;
}
.dark-hours {
  color: var(--snow-storm-6);
  background-color: var(--polar-night-0);
  padding: 5px;
  border-radius: 8px;
}

.center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.border {
  border: 3px solid var(--aurora-14-green);
  border-radius: 5px;
  padding: 1em;
}

.spacer {
  margin-top: 1em;
}

.section-mode-toggle {
  display: grid;
  grid: 1fr 1fr / 1fr;
  place-content: center;
}

.info-container {
  grid-column: span 2;
  display: grid;
  grid: 1fr / 1fr;
  place-content: center;
}

.place-end {
  align-self: center;
  justify-self: end;
}

.row-1 {
  grid-row: 1;
}

.column-1 {
  grid-column: 1;
}

.section-schedule {
  display: grid;
  grid: 1fr / auto;
  gap: 0.25em;
  place-content: center;
  place-items: center;
  margin: auto;
  position: relative;
  width: 85%;
  min-width: 15em;
  padding: 10px 10px;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  color: var(--color);
}

/* 
  double-range slider begin
  My sketch: https://codepen.io/dabat/pen/LYOBJLX
  Source: https://codingartistweb.com/2021/06/double-range-slider-html-css-javascript/
*/
.slider-container {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 10px;
}
input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.slider-track {
  width: 100%;
  height: 1em;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 1em;
}
input[type='range']::-moz-range-track {
  -moz-appearance: none;
  height: 1em;
}
input[type='range']::-ms-track {
  appearance: none;
  height: 1em;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2em;
  width: 2em;
  background-color: var(--slider-handle);
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}
input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 2em;
  width: 2em;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--slider-handle);
  pointer-events: auto;
}
input[type='range']::-ms-thumb {
  appearance: none;
  height: 2em;
  width: 2em;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--slider-handle);
  pointer-events: auto;
}
input[type='range']:active::-webkit-slider-thumb {
  background-color: var(--box-background-color);
  border: 3px solid var(--polar-night-0);
}
/* 
  double-range slider end
*/

/*
  radio-toggle styles begin
  My sketch: https://codepen.io/dabat/pen/ExoaGGZ?editors=1100
  Source: https://codepen.io/JiveDig/pen/jbdJXR?editors=1100
*/
input[type='radio'] {
  accent-color: var(--accent-color);
}

.switch-field {
  display: flex;
  overflow: hidden;
  place-self: center;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: var(--toggle-background-color);
  color: var(--button-color);
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  transition: all 0.2s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

input[disabled] + label:hover {
  cursor: not-allowed;
}

.switch-field input:checked + label {
  background-color: var(--accent-color);
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 6px 0 0 6px;
}

.switch-field label:last-of-type {
  border-radius: 0 6px 6px 0;
}

.switch-field span {
  display: flex;
  align-items: center;
}

.switch-field img {
  padding-right: 5px;
}

/* radio-toggle styles end */
